

/*=============================================================== Nav Bar ===============================================================*/

#menuToggle {
    position: absolute;
    display: none;
    margin-top: 10px;
    margin-left: -10px;
}

#menuToggle:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

#menulist{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    border-radius: 5px;
    background-color: lightgreen;
    color: white;
    width: 200px; 
    height:fit-content;
    text-align: center;
    list-style-type: none;
}

#menulist li {
    padding-bottom: 5px; 
}

@media only screen and (max-width: 1150px) {
    #menuToggle{
        display: inline;
    }
    .menubar li {
        display: none;
    }

}

@media only screen and (min-width: 1151px) {
    #menulist li , #menulist{
        display: none;
    }
}


/*============================================================== task ==============================================================*/

@media only screen and (max-width: 850px){

    .Task_Container,.contact_container{
        max-width: 100%;
    }
    
    .para{
        margin-left: 0px;
        font-size: small;
    }

    .submission_note{
        font-size: small;
    }

    .submission_img img{
        max-width: 100%;
        height: auto;
    }

}

/*================================================================ Contact ================================================================*/


@media only screen and (max-width: 690px){

    .logos li a i{
        font-size: large;
    }

    .logos li{
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .Nehal_Name_2{
        font-size: medium;
        animation: nametransition 3s ease-in-out infinite;
    }

    .cog_email{
        display: none;
    }

    .cog_email2{
        display: block;
        color: white;
        background-color: black;
    }
    .cog_email2 b{
        margin-left:30px;
        top: -100px;
    }

}

/*================================================================  ================================================================*/